/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-image: url(https://i.pinimg.com/236x/ba/fe/2f/bafe2f0f38718cfcb6da9014b84db136.jpg);
  background-size:cover;
  font-family: "Open Sans", sans-serif;
  padding: 50px 50px;
  font-size: 18px;
  margin: 0;
  color: #444;
  image-rendering: pixelated;
}

h1 {
  font-family: fantasy;
  font-size: 32px;
}

p{
  font-style: oblique;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.wcs{
  color: aliceblue;
}
